<div>
    <b>Status</b> {{statusSubmissionResult}}
</div>
<table>
    <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Phone Number </th>
    </tr>
    <tr *ngFor="let item of people">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.phone}}</td>
        <td>
            <a (click)="detailPerson(item)">Update</a>
            <a (click)="removePerson(item)">Remove</a>
        </td>
    </tr>
</table>
<div>
    <input type="button" value="Add Person" (click)="addPerson()"/>
</div>
<div id="addPersonForm" *ngIf="addPersonFormVisible">
    <form [formGroup]="addUserForm" (submit)="savePerson()">
        <label for="firstName">First Name</label>
        <input formControlName="firstName" id="firstName"/>
        <br/>
        
        <label for="lastName">Last Name</label>
        <input formControlName="lastName" id="lastName"/>
        <br/>
        
        <label for="phone">Phone Number</label>
        <input formControlName="phone" id="phone"/>
        <br/>

        <button type="submit" [disabled]="!addUserForm.valid">Submit</button>
    </form>
</div>
<div id="updatePersonForm" *ngIf="showUpdateFormVisible">
    <form [formGroup]="updateUserForm" (submit)="updatePerson()">
        <label for="updateFirstName">First Name</label>
        <input formControlName="firstName" id="updateFirstName"/>
        <br/>
        
        <label for="updateLastName">Last Name</label>
        <input formControlName="lastName" id="updateLastName"/>
        <br/>
        
        <label for="updatePhone">Phone Number</label>
        <input formControlName="phone" id="updatePhone"/>
        <br/>

        <button type="submit">Submit</button>
    </form>
</div>